.card {
  position: absolute;
  top: 57%; /* Align to 50% from top */
  left: 50%; /* Align to 50% from left */
  transform: translate(-50%, -50%); /* Move back by 50% of its own width and height */
  box-sizing: border-box;
  width: 510px; /* Set card width */
  height: 600px; /* Set card height */
  perspective: 6000px; /* Set perspective for 3D effect */
  transform-style: preserve-3d;
  cursor: pointer;
}

.checkbox {
	display: none;
}

.flip-card .front,
.flip-card .back {
  position: absolute;
	width: 100%;
	height: 95%;
  margin-top: 20px;
	text-align: center;
	background: var(--color-3);
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
	border-radius: 20px;
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.8s ease-in-out;
	z-index: 1;
}

.flip-card .back {
	transform: rotateY(180deg);
}

.checkbox:checked + .flip-card {
	transform: rotateY(180deg);
}

.front img {
  /* border: 3px solid var(--color-6); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 10px;
  width: 94%;
  height: auto;
}

.front h1 {
  text-align: center;
  font-family: 'More Sugar Regular', sans-serif;
	font-size: 45px;
	color: var(--color-7);
	margin: 8px 0px 0px 0px;
}

.front h2 {
	text-align: left;
  font-family: 'More Sugar Thin', sans-serif;
	font-size: 22px;
	color: var(--color-6);
	margin: 10px 0px 0px 40px;
}

.front h3 {
	text-align: right;
  font-family: 'More Sugar Thin', sans-serif;
	font-size: 14px;
	color: var(--color-6);
	margin: 10px 40px 0px 40px;
}

.like-button {
	/* FIXME - not final like button */
  text-align: right;
  padding-right: 66px;
}

.back h2 {
  text-align: center;
  font-family: 'More Sugar Regular', sans-serif;
  font-size: 28px;
	color: var(--color-7);
	margin: 40px 10px 10px 0;
}

.back h3 {
  text-align: center;
  font-family: 'More Sugar Regular', sans-serif;
  font-size: 22px;
	color: var(--color-7);
	margin: 25px 10px 10px 0;
}

.back p {
  text-align: left;
  font-family: 'More Sugar Thin', sans-serif;
	font-size: 16px;
	color: var(--color-6);
	padding-left: 35px;
  padding-right: 25px;
	line-height: 30px;
	margin: 0 auto;
}

  
.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 70%;
  height: auto;
}

.arrow-button {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.arrow-button img {
  width: 150px; /* Set a specific width */
  height: auto; /* Maintain aspect ratio */
}

.left-arrow {
  height: 300px;
  border: none; /* Remove border */
  background-color: transparent; /* Set background color to transparent */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  color: var(--color-6);
  cursor: pointer; /* Set cursor to pointer for clickable behavior */
}

.right-arrow {
  height: auto;
  border: none; /* Remove border */
  background-color: transparent; /* Set background color to transparent */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  color: var(--color-6);
  cursor: pointer; /* Set cursor to pointer for clickable behavior */
}

.right-arrow {
  font-family: 'More Sugar Thin', sans-serif;
}

.left-arrow:not([disabled]):hover {
  transform: scale(1.1); /* Scale up on hover */
  transition: 0.3s ease; /* Add smooth transition */
}

.left-arrow:not([disabled]):not(:hover) {
  transform: scale(1); /* Maintain scaled state after hover */
  transition: 0.3s ease;
}

.left-arrow[disabled]:hover {
  transform: scale(1); /* Maintain scaled state after hover */
  transition: 0.3s ease;
}

.left-arrow[disabled] {
  opacity: 0.5; /* Optionally reduce opacity for disabled button */
}

.right-arrow[disabled] {
  opacity: 0.5; /* Optionally reduce opacity for disabled button */
}

.right-arrow:not([disabled]):hover {
  transform: scale(1.1); /* Scale up on hover */
  transition: transform 0.3s ease; /* Add smooth transition */
}

.right-arrow:not([disabled]):not(:hover) {
  transform: scale(1); /* Maintain scaled state after hover */
  transition: transform 0.3s ease;
}

.right-arrow[disabled]:hover {
  transform: scale(1); /* Maintain scaled state after hover */
  opacity: 0.5; /* Optionally reduce opacity for disabled button */
  transition: 0.3s ease;
}