:root {
    /* Define global color variables */
    --color-1: #FFBAC2;
    --color-2: #D5BDAF;
    --color-3: #E3D5CA;
    --color-4: #F5EBE0;
    --color-5: #E8E6E1;
    --color-6: #575656;
  }