:root {
    /* Define global color variables */
    --color-1: #FFBAC2;
    --color-2: #D5BDAF;
    --color-3: #E3D5CA;
    --color-4: #F5EBE0;
    --color-5: #d9d9d9;
    --color-6: #575656;
    --color-7: #424752;
    --color-8: #202020;
    --color-error: #D8000C;
  }