@import url('colors.css');
@import url('fonts.css');

.listing-border {
    text-align: center; /* Center the content horizontally */
    position: absolute;
    top: 58%; /* position the container vertically centered */
    left: 50%; /* position the container horizontally centered */
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1045px;
    padding: 30px 50px 50px 50px;
    border: 3px solid var(--color-3);
    border-radius: 30px;
    background-color: var(--color-4);
}

.listing-container {
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: center; /* Center the content horizontally */
    position: absolute;
    top: 50%; /* position the container vertically centered */
    left: 50%; /* position the container horizontally centered */
    transform: translate(-50%, -50%);
    height: 590px;
    width: 1000px;
    padding: 30px 50px 20px 50px;
}

::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
  }
  
  /* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--color-1); /* Adjust thumb color */
    border: 3px solid var(--color-2);
    border-radius: 5px; /* Adjust thumb border radius */
}

/* Color of the scrollbar track */
::-webkit-scrollbar-track {
    background-color: none; /* Adjust track color */
}

.listing-header {
    font-family: 'More Sugar Regular', sans-serif;
    font-size: 3.2em;
    color: var(--color-1);
    margin: auto;
    text-shadow: 
    0px -1px var(--color-2),
    1px 0px var(--color-2),
    0px 1px var(--color-2),
    -1px 0px var(--color-2);
}

.listing-bio {
    resize: none;
    text-align: left;
    font-family: 'More Sugar Thin', sans-serif;
    width: 500px; /* Adjust the width as needed */
    height: 130px; /* Adjust the height as needed */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid #ccc; /* Example border style */
    border-radius: 5px; /* Example border radius */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    margin-top: 10px;
}