@import url('colors.css');
@import url('fonts.css');

.login-container {
    text-align: center; /* Center the content horizontally */
    position: absolute;
    top: 40%; /* position the container vertically centered */
    left: 50%; /* position the container horizontally centered */
    transform: translate(-50%, -50%);
    padding: 30px 50px 50px 50px;
    border: 3px solid var(--color-3);
    border-radius: 30px;
    background-color: var(--color-4);
}

.login-header {
    font-family: 'More Sugar Regular', sans-serif;
    font-size: 3.7em;
    color: var(--color-1);
    margin: auto;
    text-shadow: 
    0px -1px var(--color-2),
    1px 0px var(--color-2),
    0px 1px var(--color-2),
    -1px 0px var(--color-2);
}

.login-field {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-info {
    font-family: 'More Sugar Thin', sans-serif;
    color: var(--color-6);
    margin-top: 5px;
    padding: 1px;
}

.login-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-input {
    font-family: 'More Sugar Thin', sans-serif;
    width: 300px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid #ccc; /* Example border style */
    border-radius: 5px; /* Example border radius */
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.login-button {
    font-family: 'More Sugar Regular', sans-serif;
    padding: 5px 10px; /* Adjust button padding */
    margin-top: 10px;
    font-size: 24px; /* Adjust font size */
    background-color: var(--color-1); /* Example button color */
    color: white; /* text color */
    border: 3px solid var(--color-2);
    border-radius: 5px;
    cursor: pointer;
}

.login .error {
    font-family: 'More Sugar Thin', sans-serif;
    font-size: 1.2em;
    color: var(--color-error);
    padding-bottom: 10px;
}


.login-button:hover {
    background-color: var(--color-2);
}